<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->

<che-panel che-title="Configuration">
  <md-content ng-form="onpremInstallationConfigForm">

    <div layout="column" class="onprem-installation-config-table">
      <div layout="row" class="onprem-installation-config-header">
        <div flex="30" class="onprem-installation-config-header-cell header-property">Property</div>
        <div flex class="onprem-installation-config-header-cell hheader-value">Value</div>
      </div>
      <div layout="column" class="onprem-installation-config-body">
        <div layout="row" class="onprem-installation-config-row" ng-if="!onPremConfigurationCtrl.isErrorConfig"
             ng-repeat="(index, data) in onPremConfigurationCtrl.config">
          <div flex="30" class="onprem-installation-config-cell config-key">{{data[0]}}</div>
          <div flex class="onprem-installation-config-cell config-value">
            <md-input-container>
              <input flex ng-model="onPremConfigurationCtrl.config[index][1]" aria-label="{{data[0]}}">
            </md-input-container>
          </div>
        </div>
        <div layout="row" class="onprem-installation-config-row" ng-if="onPremConfigurationCtrl.isErrorConfig">
          <span>No property information</span>
        </div>
      </div>
    </div>

    <che-frame che-frame-class="onprem-installation-config-update-warning" ng-if="!onPremConfigurationCtrl.isErrorConfig">
      By updating these parameters, the server will restart and cause a maintenance window.
    </che-frame>
    <div layout="column" layout-align="start center">
      <div flex ng-show="onPremConfigurationCtrl.submitState" layout="column" layout-align="center center">
        <md-progress-circular class="md-hue-2"  md-mode="indeterminate" md-theme="default"></md-progress-circular>
      </div>
      <che-button-primary che-button-title="Update Configuration" ng-if="!onPremConfigurationCtrl.isErrorConfig"
                           ng-click="onPremConfigurationCtrl.updateConfig()"
                           ng-show="!onPremConfigurationCtrl.submitState">
      </che-button-primary>
    </div>
  </md-content>
</che-panel>
