<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->

<che-panel che-title="Your Installation">
  <md-progress-linear md-mode="indeterminate"  ng-show="yourInstallationCtrl.isLoading" ></md-progress-linear>
  <div ng-hide="yourInstallationCtrl.isLoading">
    <div class="onprem-your-install-installed-version-block" ng-if="yourInstallationCtrl.installedVersion">
      <div class="onprem-your-install-label">Installed Version</div>
      <div flex style="height: 20px">{{yourInstallationCtrl.installedVersion}}</div>
    </div>

    <div flex class="onprem-your-install-nodes" ng-if="yourInstallationCtrl.nodeList.length > 0">
      <!-- TODO replace with md-table when available -->
      <table flex class="onprem-your-install-nodes-table">
        <thead>
        <tr><th>Hostname</th><th>Node</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="node in yourInstallationCtrl.nodeList">
          <td class="onprem-your-install-nodes-hostname-col">{{node.hostname}}</td>
          <td class="onprem-your-install-nodes-node-col">{{node.type}}</td>
        <tr>
        </tbody>
      </table>
    </div>

    <div flex class="onprem-your-install-nodes" ng-if="yourInstallationCtrl.downloadedVersions.length > 0">
      <!-- TODO replace with md-table when available -->
      <table flex class="onprem-your-install-nodes-table">
        <thead>
        <tr><th>Downloaded version</th><th>Action</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="downloadedVersion in yourInstallationCtrl.downloadedVersions">
          <td class="onprem-your-install-nodes-hostname-col">{{downloadedVersion}}</td>
          <td class="onprem-your-install-nodes-node-col">
            <che-button-default che-button-title="Delete" ng-click="yourInstallationCtrl.removeDownloadedVersion(downloadedVersion)">
            </che-button-default>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</che-panel>
