<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<che-toolbar che-title="Account"></che-toolbar>

<md-content md-scroll-y flex md-theme="maincontent-theme">
  <md-tabs md-dynamic-height md-swipe-content md-stretch-tabs="always" md-selected="accountCtrl.selectedTabIndex" class="account-menu">
    <md-tab che-event-logger="account/profile">
      <md-tab-label>
        <md-icon md-font-icon="fa-user" class="fa che-tab-label-icon"></md-icon>
        <span class="che-tab-label-title">Profile</span>
      </md-tab-label>
      <md-tab-body>
        <che-panel che-title="Your Information">
          <ng-form name="profileInformationForm">
            <account-profile></account-profile>
            <che-button-default che-button-title="save"
                                 ng-click="accountCtrl.setProfileAttributes()"
                                che-event-logger="account/profile/edit"
                                 ng-disabled="profileInformationForm.$invalid || !accountCtrl.isAttributesChanged()">
            </che-button-default>
          </ng-form>
        </che-panel>
      </md-tab-body>
    </md-tab>

    <md-tab che-event-logger="account/billing" ng-if="accountCtrl.isCreditCardServiceAvailable">
      <md-tab-label>
        <md-icon md-font-icon="material-design icon-ic_credit_card_24px" class="che-tab-label-icon"></md-icon>
        <span class="che-tab-label-title">Billing</span>
      </md-tab-label>
      <md-tab-body>
        <div ng-controller="CreditcardCtrl as creditCardCtrl">
          <che-panel che-title="Add a credit card" ng-show="creditCardCtrl.creditCards.length == 0 && creditCardCtrl.loadedCreditCards">
            <ng-form name="creditCardInformationForm" id="creditCardInformationForm">
              <add-creditcard style="display: block;" loaded="{{creditCardCtrl.loadedCreditCards}}" ng-init="creditCardCtrl.setCreditCard(this.addCreditcardCtrl.creditCard);"></add-creditcard>
              <che-button-default che-button-title="add"
                                   ng-disabled="creditCardInformationForm.$invalid"
                                   che-event-logger="account/billing/add-credit-card"
                                   ng-click="creditCardCtrl.addCreditCard();">
              </che-button-default>
            </ng-form>
          </che-panel>
          <che-panel che-title="Credit Card Information" ng-show="creditCardCtrl.creditCards.length > 0">
            <div layout="row" layout-align="center center" ng-repeat="card in creditCardCtrl.creditCards">
              <div layout="column" flex="85" class="creditcard-info">
                <p>{{card.cardholder}}</p>
                <p>{{card.type}} ...{{card.number.slice(-4)}} ({{card.expiration}})</p>
              </div>
              <che-button-danger flex="15" che-button-title="Remove"
                                 che-event-logger="account/billing/remove-credit-card"
                                  ng-click="creditCardCtrl.removeCreditCard(card, $event);"/>
            </div>
          </che-panel>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab che-event-logger="account/security">
      <md-tab-label>
        <md-icon md-font-icon="material-design icon-ic_settings_24px" class="che-tab-label-icon"></md-icon>
        <span class="che-tab-label-title">Security</span>
      </md-tab-label>
      <md-tab-body>
        <che-panel che-title="Update Your Password">
            <account-update-password cdvy-password="newPassword"
                                    cdvy-reset-password="accountCtrl.resetPasswordForm">
            </account-update-password>
            <che-button-default che-button-title="Update Password"
                                che-event-logger="account/security/update-password"
                                ng-disabled="!newPassword"
                                ng-click="accountCtrl.setPassword(newPassword)">
            </che-button-default>
        </che-panel>
        <account-delete></account-delete>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
