<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<ng-form class="change-password" name="changePasswordForm">
  <che-input che-form="changePasswordForm"
             che-name="newPassword"
             che-label-name="New password"
             che-place-holder="New password"
             che-pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*).{0,}$"
              ng-model="newPassword"
              type="password"
              required
              ng-minlength="8"
              ng-maxlength="100">
    <div ng-message="required">A password is required.</div>
    <div ng-message="pattern">Password should contain both letters and digits</div>
    <div ng-message="minlength">Password should contain at least 8 characters.</div>
    <div ng-message="maxlength">The password has to be less than 100 characters long.</div>
  </che-input>
  <div class="prompt">
    <span>Minimum 8 characters, both letters and digits.</span>
    <p>Password strength:</p>
    <div ng-password-strength="newPassword" strength="passStrength" inner-class="password-meter"></div>
  </div>
  <che-input che-form="changePasswordForm"
             che-name="confirmPassword"
             che-label-name="Confirm new password"
             che-place-holder="Confirm new password"
              ng-model="confirmPassword"
              type="password"
              required
              ng-maxlength="100">
    <div ng-show="confirmPassword && (confirmPassword !== newPassword)">New Password and Confirm new password do not match.</div>
    <div ng-message="required">A confirm password is required.</div>
    <div ng-message="maxlength">The password has to be less than 100 characters long.</div>
  </che-input>

</ng-form>
