<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->

<che-panel che-title="Upgrade" che-panel-id="upgrade-your-installation-panel" che-disabled="upgradeInstallationCtrl.isSectionDisabled()">
  <md-progress-linear md-mode="indeterminate"  ng-hide="upgradeInstallationCtrl.fetchAll || upgradeInstallationCtrl.errorFetching" ></md-progress-linear>

  <div ng-show="upgradeInstallationCtrl.fetchAll">

    <div ng-show="upgradeInstallationCtrl.codenvyUpgradableArtifact">
      <che-button-primary che-button-title="Install {{upgradeInstallationCtrl.codenvyUpgradableArtifact.version}} Now" ng-click="upgradeInstallationCtrl.install(upgradeInstallationCtrl.codenvyUpgradableArtifact.version)" ng-disabled="upgradeInstallationCtrl.isSectionDisabled()"></che-button-primary>
    </div>
    <div ng-hide="upgradeInstallationCtrl.codenvyUpgradableArtifact">
      Nothing to upgrade.
    </div>

    <!-- Removed because not implemented in IM -->
    <!--
    <div ng-form="onPremUpgradeScheduleForm" flex>
      <che-input che-form="onPremUpgradeScheduleForm"
                  che-name="upgradeScheduleInput"
                  che-label-name="Schedule Installation"
                  ng-model="upgradeInstallationCtrl.scheduleExpression">
      </che-input>
      <che-button-default che-button-title="Save Schedule" ng-click="upgradeInstallationCtrl.saveSchedule()"></che-button-default>
      <md-checkbox ng-model="upgradeInstallationCtrl.checkNewVersion">Check for new version before installing</md-checkbox>
    </div>
    <p>Upgrading may require a maintenance window up to 30 minutes. Minor releases either do not
       require a maintenance window or are a few minutes.</p>
    <p>Docs:<a href="" class="onprem-upgrade-installation-schedule-syntaxlink">Syntax for Scheduling Installation</a>.</p>
    -->
  </div>
</che-panel>
