.dashboard-last-factories md-icon
  font-size 24px
  height auto
  width auto
  color $label-info-color
  line-height 24px

.dashboard-last-factories md-list
  padding 0

.dashboard-last-factories md-content
  padding 15px
