<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<div class="left-sidebar-container">
  <md-toolbar class="flex-shrink-none">
    <md-progress-linear md-mode="indeterminate" ng-hide="codenvyNavbarCtrl.email"></md-progress-linear>
    <div ng-show="codenvyNavbarCtrl.email">
      <section class="navbar-top-dropdown" layout="column" layout-align="center center">
        <che-button-dropdown che-button-dropdown-href="#/create-project" che-button-dropdown-label="New Project"
                             che-event-logger="new.project"
                             che-button-dropdown-controller="codenvyNavbarCtrl"
                              ng-if="codenvyNavbarCtrl.isUser()"></che-button-dropdown>
      </section>
      <section layout="column" layout-align="center center">&nbsp;</section>
      <md-divider md-theme="factory-theme"></md-divider>

      <div class="admin-navbar-menu">
        <section class="left-sidebar-menu" layout="column" layout-align="center center">
          <md-list layout="column">
            <md-list-item flex class="navbar-subsection-item"
                          ng-show="codenvyNavbarCtrl.displayLoginItem">
              <md-button nav-bar-selected flex ng-href="{{codenvyNavbarCtrl.menuItemUrl.login}}" layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-user icon">&nbsp;</i>
                  <span>Login</span>
                </div>
              </md-button>
            </md-list-item>
            <ide-list-item-navbar></ide-list-item-navbar>
            <md-list-item flex class="navbar-subsection-item"  ng-if="codenvyNavbarCtrl.isUser()">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.dashboard}}" layout-align="left" target="_self">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-th-large icon">&nbsp;</i>
                  <span>Dashboard</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="codenvyNavbarCtrl.isUser()">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.projects}}" layout-align="left" che-event-logger="projects">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-folder-open icon">&nbsp;</i>
                  <span>Projects</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.workspaces}}" layout-align="left" che-event-logger="workspaces">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-server fa-lg icon">&nbsp;</i>
                  <span>Workspaces</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="codenvyNavbarCtrl.isFactoryServiceAvailable">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.factories}}" layout-align="left" che-event-logger="factories">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="chefont cheico-rocket-chefont icon">&nbsp;</i>
                  <span>Factories</span>
                </div>
              </md-button>
            </md-list-item>
            <div ng-if="codenvyNavbarCtrl.isImsAvailable() && codenvyNavbarCtrl.userIsAdmin()">
              <md-divider md-theme="factory-theme"></md-divider>
              <md-list-item flex class="navbar-subsection-item">
                <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.administration}}" layout-align="left"
                           che-event-logger="administration">
                  <div class="navbar-item" layout="row" layout-align="start center">
                    <i class="chefont cheico-administration icon">&nbsp;</i>
                    <span>Administration</span>
                  </div>
                </md-button>
              </md-list-item>
              <md-list-item flex class="navbar-subsection-item">
                <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.usermanagement}}" layout-align="left"
                           che-event-logger="usermanagement">
                  <div class="navbar-item" layout="row" layout-align="start center">
                    <i class="fa fa-user fa-lg icon">&nbsp;</i>
                    <span>User Management</span>
                  </div>
                </md-button>
              </md-list-item>
            </div>
          </md-list>
        </section>
      </div>
      <md-divider ng-show="codenvyNavbarCtrl.isAdminServiceAvailable" md-theme="factory-theme"></md-divider>
      <div ng-show="codenvyNavbarCtrl.isAdminServiceAvailable" class="admin-navbar-menu"
           ng-init="configMenuIsExpand=true">
        <div class="navbar-identity"
             flex layout="row" layout-align="start center" ng-click="configMenuIsExpand=!configMenuIsExpand">
      <span flex layout="row" layout-align="start center" layout-padding>
        <i class="material-design icon-ic_build_24px">&nbsp;</i>
        <span flex class="navbar-title">Configuration</span>
      </span>
          <i class="material-design md-tab-themed" ng-class="configMenuIsExpand ? 'icon-ic_expand_less_24px' : 'icon-ic_expand_more_24px'">
            &nbsp;</i>
        </div>
        <section class="animation navbar-subsection"
                 flex layout="column" layout-align="center start" layout-fill
                 class="animation"
                 ng-if="configMenuIsExpand">
          <md-list layout="column" flex>
            <md-list-item ng-show="codenvyNavbarCtrl.isAdminPluginServiceAvailable" flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.plugins}}" layout-align="left" che-event-logger="account">
                <div class="navbar-item" layout="row" layout-align="start center">Plug-Ins</div>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
      </div>

      <md-divider md-theme="factory-theme"></md-divider>
      <div class="admin-navbar-menu"
           ng-show="codenvyNavbarCtrl.profile.attributes && codenvyNavbarCtrl.isUser() && codenvyNavbarCtrl.isAccountServiceAvailable" ng-init="isExpand=true">
        <div class="navbar-identity"
             flex layout="row" layout-align="start center" ng-click="isExpand=!isExpand">
      <span flex layout="row" layout-align="start center" layout-padding>
        <img class="developers-face" gravatar-src="codenvyNavbarCtrl.email">
        <span flex class="navbar-title">{{codenvyNavbarCtrl.cheAPI.getProfile().getFullName(codenvyNavbarCtrl.profile.attributes)}}</span>
      </span>
          <i class="material-design md-tab-themed" ng-class="isExpand ? 'icon-ic_expand_less_24px' : 'icon-ic_expand_more_24px'">&nbsp;</i>
        </div>
        <section class="animation navbar-subsection"
                 flex layout="column" layout-align="center start" layout-fill
                 class="animation"
                 ng-if="isExpand">
          <md-list layout="column" flex>
            <md-list-item flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.account}}" layout-align="left" che-event-logger="account">
                <div class="navbar-item" layout="row"
                     layout-align="start center">Account
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="!codenvyNavbarCtrl.isImsAvailable()">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.team}}" layout-align="left" che-event-logger="team">
                <div class="navbar-item" layout="row"
                     layout-align="start center">Team
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="codenvyNavbarCtrl.isSubscriptionServiceAvailable">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.subscriptions}}" layout-align="left">
                <div class="navbar-item" layout="row" che-event-logger="subscriptions"
                     layout-align="start center">Subscriptions
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="!codenvyNavbarCtrl.isImsAvailable() && codenvyNavbarCtrl.isInvoiceServiceAvailable">
              <md-button nav-bar-selected flex che-reload-href ng-href="{{codenvyNavbarCtrl.menuItemUrl.billing}}" layout-align="left">
                <div class="navbar-item" layout="row" che-event-logger="billing-and-invoices"
                     layout-align="start center">Billing and Invoices
                </div>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
      </div>
      <md-divider md-theme="factory-theme" ng-show="codenvyNavbarCtrl.isUser()"></md-divider>
      <div class="help-menu">
        <section class="left-sidebar-menu" layout="column" layout-align="center center">
          <md-list layout="row">
            <md-list-item>
              <help-widget></help-widget>
              <logout-widget></logout-widget>
            </md-list-item>
          </md-list>
        </section>
      </div>
    </div>
    <section layout="column" layout-align="end center" flex>
      <a ng-href="{{codenvyNavbarCtrl.menuItemUrl.projects}}"><img class="che-logo" ng-src="{{branding.logoURL}}" alt="logo"></a>
    </section>
  </md-toolbar>
</div>
