<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<che-panel che-title="Factory Information">
  <ng-form name="factoryInformationForm">
    <che-input che-form="factoryInformationForm"
               che-name="name"
               che-label-name="Name"
               che-place-holder="Name of the factory"
                ng-model="factoryInformationCtrl.copyOriginFactory.name">
    </che-input>
  </ng-form>
  <div layout="column" flex layout-align="space-around start">
    <che-text-info che-label-name="URL"
                    che-text="factoryInformationCtrl.factory.idURL ? factoryInformationCtrl.factory.idURL : 'No value'"
                    che-href="factoryInformationCtrl.factory.idURL"
                    che-copy-clipboard="true"></che-text-info>
    <che-text-info class="che-text-info-subline"
                    ng-show="factoryInformationCtrl.factory.nameURL"
                   che-text="factoryInformationCtrl.factory.nameURL ? factoryInformationCtrl.factory.nameURL : 'No value'"
                   che-href="factoryInformationCtrl.factory.nameURL"
                   che-copy-clipboard="true"></che-text-info>
    <che-text-info che-label-name="Creation Date"
                    che-text="factoryInformationCtrl.factory.originFactory.creator.created | amDateFormat:'Do MMMM YYYY'">
    </che-text-info>
  </div>
  <che-button-primary
    ng-disabled="factoryInformationForm.$invalid
                 || (factoryInformationCtrl.copyOriginFactory.name === factoryInformationCtrl.factory.originFactory.name)"
    che-button-title="Update" name="updateButton"
    ng-click="factoryInformationCtrl.setFactory(factoryInformationCtrl.copyOriginFactory)"/>
</che-panel>
