.factory-information-panel-spacing
  margin-top 10px

.factory-information-panel-item > div
  margin-bottom  5px

.factory-information-panel-caption span
  flex 1 1 85% !important

.factory-information-panel-url span
  flex 1 1 80% !important
