<div  data-card
      data-width="500"
      data-card-container="#card-container"
      data-values="addCreditcardCtrl.values"
      data-options="addCreditcardCtrl.options"
      data-messages="addCreditcardCtrl.messages">
<div layout="row" >

  <div id="card-container" class="card-container"></div>
  <div layout="column" flex>
    <che-input che-form="creditCardInformationForm"
               che-name="cardNumber"
                id="cardNumber"
               che-label-name="Card Number"
               che-place-holder="**** **** **** ****"
                ng-model="addCreditcardCtrl.creditCard.number"
                required
                pattern="[0-9,/ ]{16,}"
                ng-maxlength="19" ng-minlength="12">
      <div ng-message="required">A credit card number is required.</div>
      <div ng-message="pattern">A valid credit card number is required.</div>
      <div ng-message="maxlength">The credit card number has to be 12-19 digits long.</div>
      <div ng-message="minlength">The credit card number has to be 12-19 digits long.</div>
    </che-input>
    <che-input che-form="creditCardInformationForm"
               che-name="cardholderName"
                id="cardholderName"
               che-label-name="Cardholder"
               che-place-holder="Name"
                ng-model="addCreditcardCtrl.creditCard.cardholder"
                required
                ng-maxlength="128">
      <div ng-message="required">A cardholder name is required.</div>
      <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
    </che-input>
    <che-input che-form="creditCardInformationForm"
                che-name="expires"
                id="expires"
               che-label-name="Expires"
               che-place-holder="--/--"
                ng-model="addCreditcardCtrl.creditCard.expires"
                pattern="[0-9,//,/ ]{7,}"
                required>
      <div ng-message="required">The expires value is required.</div>
    </che-input>
    <che-input che-form="creditCardInformationForm"
               che-name="cvv"
                id="cvv"
               che-label-name="CVV"
               che-place-holder="****"
                ng-model="addCreditcardCtrl.creditCard.cvv"
                required
                pattern="[0-9]{3,}"
                ng-minlength="3"
                ng-maxlength="4">
      <div ng-message="required">A cvv code is required.</div>
      <div ng-message="maxlength">The cvv code has to be less than 4 digits long.</div>
      <div ng-message="minlength">The cvv code has to be more than 3 digits long.</div>
    </che-input>
    <che-input che-form="creditCardInformationForm"
               che-name="postCode"
               che-label-name="Post Code"
               che-place-holder="****"
                ng-model="addCreditcardCtrl.creditCard.postCode"
                required
                ng-minlength="3"
                ng-maxlength="10">
      <div ng-message="required">A postal code is required.</div>
      <div ng-message="maxlength">The postal code has to be 3-10 symbols long.</div>
      <div ng-message="minlength">The postal code has to be 3-10 symbols long.</div>
    </che-input>
  </div>
</div>
<che-input che-form="creditCardInformationForm"
            che-name="streetAddress"
            che-label-name="Street Address"
            che-place-holder=""
            ng-model="addCreditcardCtrl.creditCard.streetAddress"
            ng-maxlength="128">
  <div ng-message="maxlength">The address has to be less than 128 characters long.</div>
</che-input>
<che-input che-form="creditCardInformationForm"
           che-name="city"
           che-label-name="City"
           che-place-holder=""
            ng-model="addCreditcardCtrl.creditCard.city"
            ng-maxlength="128">
  <div ng-message="maxlength">The city has to be less than 128 characters long.</div>
</che-input>
<che-input che-form="creditCardInformationForm"
           che-name="state"
           che-label-name="State"
           che-place-holder=""
            ng-model="addCreditcardCtrl.creditCard.state"
            ng-maxlength="128">
  <div ng-message="maxlength">The state has to be less than 128 characters long.</div>
</che-input>
<che-select che-label-name="Country"
            che-option-values="addCreditcardCtrl.countries"
            che-place-holder="Select Your Country"
            che-value="addCreditcardCtrl.creditCard.country">
</che-select>
</div>
