/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 *  [2015] - [2016] Codenvy, S.A.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

.admins-user-management .password-prompt .progress
  height 6px

.admins-user-management .user-list-title
  background-color $form-element-border-color
  padding 15px

.admins-user-management .user-management-content
  margin 15px 0 15px 15px
  overflow visible

.user-management-content .list-small md-list
  margin-bottom 90px

.user-management-content .admin-user-list
  max-height 800px
  overflow-y scroll

.user-management-content .user-row
  min-height 56px

.user-management-content .user-face
  che-developers-face()
  flex-shrink 0
  margin-left 10px
  margin-right 15px

.user-management-content .user-email
  color $label-secondary-color

.user-management-content .user-description
  color $label-info-color

.user-management-content .user-email,
.user-management-content .user-description
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  margin 5px

.user-management-content .user-actions
  color $label-info-color
  cursor pointer
  height 24px
  font-size 24px
  line-height 24px
  margin-right 15px

.user-management-content .add-button-container
  position static
  flex-shrink 0
  flex-grow 0
  width 0

.user-management-content .add-button-container button
  top 0
  margin 0 0 0 12px
  position absolute

.user-management-content .list-side-big
  width 80px
