<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->

<che-panel che-title="Usage Data" che-panel-id="usage-data-and-automatic-install" che-disabled="automaticUpdatesCtrl.isSectionDisabled()">
  <md-content>
    <div class="onprem-admin-installation-automatic-section">
      <md-switch ng-model="automaticUpdatesCtrl.usageData"
                    ng-if="automaticUpdatesCtrl.propertyReceived"
                    ng-disabled="automaticUpdatesCtrl.isSectionDisabled() || automaticUpdatesCtrl.usageDataDisabled"
                    ng-change="automaticUpdatesCtrl.usageDataChanged()"
                    aria-label="Anonymous Usage Data">
        Usage Data Upload
      </md-switch>
      <span ng-if="automaticUpdatesCtrl.usageDataSaveError" class="onprem-admin-installation-automatic-section-save-error">There was an error. The Anonymous Usage Data preference could not be saved.</span>
      <span class="onprem-admin-installation-automatic-label">Let Codenvy upload usage, performance and stability data.</span>

    </div>

  </md-content>
</che-panel>
