.license-message
  top 0
  left 0
  right 0
  position fixed
  z-index 16777271
  line-height 30px
  max-height 30px
  overflow-x auto
  text-align center
  background-color $config-frame-warning-color

.license-message a
  color $white-color
  text-decoration underline

.license-message a:hover
  che-brightness(90%)

.license-message-indent
  top 30px
