<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<che-panel che-title="Factory Routing" class="cdvy-factory-information">
  <div layout="row" flex layout-align="space-around center">
    <label flex="15">Workspace Type: </label>

    <div layout="column" flex="85">
      <che-toggle ng-model="workspace.type">
        <che-toggle-button ng-click="factoryRoutingCtrl.setFactoryWorkspace(workspace)" che-font-icon="material-design icon-ic_alarm_24px"
                           che-title="temp"></che-toggle-button>
        <che-toggle-button ng-click="factoryRoutingCtrl.setFactoryWorkspace(workspace)" che-font-icon="material-design icon-ic_input_24px"
                            che-title="named"></che-toggle-button>
      </che-toggle>
    </div>
  </div>
  <div layout="row" flex layout-align="space-around center">
    <label flex="15">Workspace Location: </label>

    <div layout="column" flex="85">
      <che-toggle ng-model="workspace.location">
        <che-toggle-button ng-click="factoryRoutingCtrl.setFactoryWorkspace(workspace)"
                           che-font-icon="material-design icon-ic_account_circle_24px" che-title="owner"></che-toggle-button>
        <che-toggle-button ng-click="factoryRoutingCtrl.setFactoryWorkspace(workspace)"
                           che-font-icon="material-design icon-ic_account_box_24px" che-title="acceptor"></che-toggle-button>
      </che-toggle>
    </div>
  </div>
</che-panel>
