<che-input che-form="profileInformationForm"
           che-name="firstName"
           che-label-name="First name"
           che-place-holder="First Name"
            ng-model="accountCtrl.profileAttributes.firstName"
            required
            ng-maxlength="128">
  <div ng-message="required">A name is required.</div>
  <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
</che-input>
<che-input che-form="profileInformationForm"
           che-name="lastName"
           che-label-name="Last name"
           che-place-holder="Last Name"
            ng-model="accountCtrl.profileAttributes.lastName"
            required
            ng-maxlength="128">
  <div ng-message="required">A last name is required.</div>
  <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
</che-input>

<che-input che-form="profileInformationForm"
           che-name="phone"
           che-label-name="Phone"
           che-place-holder="phone"
           che-pattern="(^[+]{0,1}[0-9-]{0,}$)"
            ng-model="accountCtrl.profileAttributes.phone"
            ng-maxlength="15"
            ng-minlength="4">
  <div ng-message="pattern">Should be numbers and may start with a '+'.</div>
  <div ng-message="minlength">The phone number has to be more than 4 characters long.</div>
  <div ng-message="maxlength">The phone number has to be less than 15 characters long.</div>
</che-input>
<che-select che-label-name="Country"
             che-option-values="accountProfileCtrl.countries"
             che-place-holder="Select Your Country"
             che-size="12"
             che-value="accountCtrl.profileAttributes.country">
</che-select>
<che-input che-form="profileInformationForm"
            che-name="department"
            che-label-name="Company"
            che-place-holder="Company"
            ng-model="accountCtrl.profileAttributes.employer"
            ng-maxlength="128">
  <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
</che-input>
<che-input che-form="profileInformationForm"
           che-name="jobtitle"
           che-label-name="Job title"
           che-place-holder="Job title"
            ng-model="accountCtrl.profileAttributes.jobtitle"
            ng-maxlength="128">
  <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
</che-input>
