<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<che-panel che-title="Subscription">
  <div class="onprem-license-loader">
    <md-progress-linear md-mode="indeterminate" ng-if="onPremisesAdminYourLicenseCtrl.isLoading"></md-progress-linear>
  </div>
  <div class="onprem-license" ng-if="!onPremisesAdminYourLicenseCtrl.isLoading || onPremisesAdminYourLicenseCtrl.licenseState">
    <div ng-switch on="onPremisesAdminYourLicenseCtrl.licenseState">
      <div ng-switch on="onPremisesAdminYourLicenseCtrl.licenseState">
        <div ng-switch-when="NO_LICENSE">
          <che-label-container che-label-name="License">
            <span class="onprem-license-info-row">
              <che-link ng-href="http://codenvy.com/legal/fair-source"
                        che-link-text="Codenvy Fair Source {{onPremisesAdminYourLicenseCtrl.numberOfFreeUsers}}"
                        che-no-padding="true" che-new-window></che-link> - {{onPremisesAdminYourLicenseCtrl.numberOfFreeUsers}} users, single server
            </span>
          </che-label-container>
          <che-label-container che-label-name="Expiration">
            <span class="onprem-license-info-row">
              N/A
            </span>
          </che-label-container>
          <che-label-container che-label-name="Support">
            <span class="onprem-license-info-row">
              You can get&nbsp;
              <che-link ng-href="http://codenvy.com/support"
                        che-link-text="support in public forums"
                        che-no-padding="true" che-new-window></che-link>
            </span>
          </che-label-container>
        </div>
        <div ng-switch-when="LICENSE">
          <div ng-if="!onPremisesAdminYourLicenseCtrl.isLicenseExpired">
            <che-label-container che-label-name="License">
            <span class="onprem-license-info-row">
              Codenvy Enterprise - {{onPremisesAdminYourLicenseCtrl.maxUsers}} users, unlimited servers
            </span>
            </che-label-container>
            <che-label-container che-label-name="Expiration">
            <span class="onprem-license-info-row valid-color">
              {{onPremisesAdminYourLicenseCtrl.expirationDate}}
            </span>
            </che-label-container>
            <che-label-container che-label-name="Support">
            <span class="onprem-license-info-row">
              You can get premium support by emailing&nbsp;
              <che-link ng-href="mailto:premiumsupport@codenvy.com"
                        che-link-text="premiumsupport@codenvy.com"
                        che-no-padding="true"></che-link>
            </span>
            </che-label-container>
          </div>
          <div ng-if="onPremisesAdminYourLicenseCtrl.isLicenseExpired">
            <che-label-container che-label-name="License">
            <span class="onprem-license-info-row">
              <che-link ng-href="http://codenvy.com/legal/fair-source"
                        che-link-text="Codenvy Fair Source {{onPremisesAdminYourLicenseCtrl.numberOfFreeUsers}}"
                        che-no-padding="true" che-new-window></che-link> - {{onPremisesAdminYourLicenseCtrl.numberOfFreeUsers}} users, single server
            </span>
            </che-label-container>
            <che-label-container che-label-name="Expiration">
            <span class="onprem-license-info-row error-color">
              {{onPremisesAdminYourLicenseCtrl.expirationDate}} -- expired
            </span>
            </che-label-container>
            <che-label-container che-label-name="Support">
            <span class="onprem-license-info-row">
              You can get&nbsp;
              <che-link ng-href="http://codenvy.com/support"
                        che-link-text="support in public forums"
                        che-no-padding="true" che-new-window></che-link>
            </span>
            </che-label-container>
          </div>
        </div>
        <div ng-switch-default></div>
        <che-label-container che-label-name="Source Code">
            <span class="onprem-license-info-row">
              <span ng-if="!onPremisesAdminYourLicenseCtrl.installedVersion">N/A</span>
              <che-link
                ng-if="onPremisesAdminYourLicenseCtrl.installedVersion"
                ng-href="https://install.codenvycorp.com/codenvy/codenvy-src-{{onPremisesAdminYourLicenseCtrl.installedVersion}}.zip"
                che-link-text="https://install.codenvycorp.com/codenvy/codenvy-src-{{onPremisesAdminYourLicenseCtrl.installedVersion}}.zip"
                che-no-padding="true" che-new-window></che-link>
            </span>
        </che-label-container>
        <ng-form name="licenseForm" flex class="license-form">
          <div flex="90" layout="column" layout-align="center start" class="input-part">
            <label class="che-label-container-label">License Key:</label>
            <textarea type="text" class="license-input" name="licenseKey" ng-maxlength="3072"
                      required="required" placeholder="####-####-####-####"
                      ng-readonly="onPremisesAdminYourLicenseCtrl.licenseState==='LICENSE'"
                      ng-model="onPremisesAdminYourLicenseCtrl.newLicense"
                      ng-change="onPremisesAdminYourLicenseCtrl.isLicenseInvalid = false"></textarea>

            <div class="license-state-info">
              <span ng-if="onPremisesAdminYourLicenseCtrl.licenseState==='LICENSE'" class="valid-color">Valid key</span>
              <span ng-if="onPremisesAdminYourLicenseCtrl.isLicenseInvalid && licenseForm.$valid"
                    class="error-color">Invalid License key.</span>

              <div ng-messages="licenseForm.licenseKey.$error" class="error-color">
                <span ng-message="required">License is required.</span>
                <span ng-message="maxlength">The license has to be less than 3072 characters long.</span>
              </div>
            </div>
          </div>
          <div flex="10" layout="column" layout-align="center start" class="buttons-part">
            <che-button-primary ng-if="onPremisesAdminYourLicenseCtrl.licenseState==='NO_LICENSE'"
                                ng-click="onPremisesAdminYourLicenseCtrl.addLicense()"
                                ng-disabled="licenseForm.$invalid"
                                che-button-title="Apply"></che-button-primary>
            <che-button-primary ng-if="onPremisesAdminYourLicenseCtrl.licenseState==='LICENSE'"
                                ng-click="onPremisesAdminYourLicenseCtrl.deleteLicense()"
                                che-button-title="Remove"></che-button-primary>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
</che-panel>
