<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<div class="load-factory-main-container">
<div flex style="height: 100%" class="ide-loader load-factory-main-panel">
  <div layout="column" layout-align="start center">
    <div class="ide-loader-logo" ng-if="branding.logoURL">
      <img ng-src="{{branding.logoURL}}">
    </div>
  </div>
  <div class="create-project-progress-panel-bottom">
    <div ng-repeat="step in loadFactoryCtrl.getLoadingSteps()">
      <div ng-if="$index < (loadFactoryCtrl.getLoadingSteps().length -1)"
           class="create-project-panel-progress-items"
           ng-class="{'create-project-panel-progress-items-enabled' : (loadFactoryCtrl.getCurrentProgressStep() >= $index), 'create-project-panel-progress-items-error' : loadFactoryCtrl.getLoadingSteps()[$index].hasError}"
        >
        <div  layout="row" layout-align="start center">
          <div class="create-project-panel-progress-item-number" ng-class="{'create-project-panel-progress-item-number-in-progress' : (loadFactoryCtrl.getCurrentProgressStep() === $index && !loadFactoryCtrl.getLoadingSteps()[$index].hasError)}">{{$index + 1}}</div>
          <div flex>{{loadFactoryCtrl.getStepText($index)}}</div>
          <che-button-danger ng-show="loadFactoryCtrl.getLoadingSteps()[$index].hasError"
                             che-button-title="Retry" ng-click="loadFactoryCtrl.resetCreateProgress()" ></che-button-danger>
        </div>
      </div>
      <div ng-if="$index < (loadFactoryCtrl.getLoadingSteps().length - 1)" layout="row">
        <div ng-class="{'create-project-panel-progress-item-link-enabled' : (loadFactoryCtrl.getCurrentProgressStep() > $index), 'create-project-panel-progress-item-link-error' : loadFactoryCtrl.getLoadingSteps()[$index].hasError}"
             class="create-project-panel-progress-item-link">&nbsp;</div>

        <textarea che-auto-scroll ng-show="loadFactoryCtrl.getLoadingSteps()[$index].logs.length > 0" flex class="create-project-panel-progress-item-output" rows="5" ng-model="loadFactoryCtrl.getLoadingSteps()[$index].logs"></textarea>
      </div>
    </div>
    <div ng-class="{'create-project-panel-progress-lastitem-enabled' : (loadFactoryCtrl.getCurrentProgressStep() === (loadFactoryCtrl.getLoadingSteps().length - 1)), 'create-project-panel-progress-lastitem-error' : loadFactoryCtrl.getLoadingSteps()[$index].hasError}"
         class="create-project-panel-progress-lastitem" layout="row" layout-align="end start">
      <div layout="column" flex layout-align="start end">
        &nbsp;
    </div>
  </div>
</div>
</div>
</div>
