/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 *  [2015] - [2016] Codenvy, S.A.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */

.admins-add-user-form
  margin 17px 12px 17px 12px
  min-width 720px
  max-width 80%

.admins-add-user-form .che-input-desktop-label
  margin-top 1px

.admins-add-user-form .password-prompt,
.admins-add-user-form .che-input-desktop-label
  min-width 125px

.admins-add-user-form .form-input-fields
  margin 5px

.admins-add-user-form .password-prompt
  display block
  width 15%
  height 80px
  font-size 12px
  margin-right 5px
  color $disabled-color

.admins-add-user-form .password-prompt p
  margin-top 5px
  margin-bottom 5px

.admins-add-user-form .password-meter,
.admins-add-user-form .progress
  padding 0
  border none
  height 6px !important

.admins-add-user-form .password-meter
  border-radius 6px
  transition width .6s ease

.admins-add-user-form .password-meter.danger
  background-color $error-color

.admins-add-user-form .password-meter.warning
  background-color $config-frame-warning-color

.admins-add-user-form .password-meter.success
  background-color $auth-ok-color

.admins-add-user-form .password-meter *
  display none

.admins-add-user-form che-button-primary,
.admins-add-user-form che-button-notice
  margin-right 5px
  float right
