<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<ng-form name="createUserForm" class="admins-add-user-form">
  <div class="form-input-fields">
    <che-input che-form="createUserForm"
               che-name="name"
               che-label-name="Name"
               che-place-holder="name"
               ng-model="adminsAddUserCtrl.newUserName"
               required
               ng-maxlength="100">
      <div ng-message="required">Name is required.</div>
      <div ng-message="maxlength">Your name has to be less than 100 characters long.</div>
    </che-input>
    <che-input che-form="createUserForm"
               che-name="email"
               che-label-name="Email"
               che-place-holder="e-mail"
               ng-maxlength="100"
               type="email"
               focusable
               required
               ng-model="adminsAddUserCtrl.newUserEmail">

      <div ng-message="required">Email is required.</div>
      <div ng-message="email">Enter a valid email address.</div>
      <div ng-message="maxlength">Your email has to be less than 100 characters long</div>
    </che-input>
    <che-input che-form="createUserForm"
               che-name="password"
               che-label-name="Password"
               che-place-holder="password"
               che-pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*).{0,}$"
               ng-maxlength="100"
               ng-minlength="8"
               type="password"
               required
               ng-model="adminsAddUserCtrl.newUserPassword">

      <div ng-message="required">Password is required.</div>
      <div ng-message="pattern">Your password should contain both letters and digits</div>
      <div ng-message="minlength">Your password should contain at least 8 characters.</div>
      <div ng-message="maxlength">Your password has to be less than 100 characters long.</div>
    </che-input>
    <div class="password-prompt">
      <span>Minimum 8 characters, both letters and digits.</span>

      <p>Password strength:</p>

      <div ng-password-strength="adminsAddUserCtrl.newUserPassword" strength="passStrength" inner-class="password-meter" class="ng-isolate-scope"></div>
    </div>
    <che-input che-form="createUserForm"
               che-name="confirmPassword"
               che-label-name="Confirm password"
               che-place-holder="confirm password"
               ng-model="confirmNewUserPassword"
               ng-maxlength="100"
               type="password"
               required>

      <div ng-message="required">Confirm password is required.</div>
      <div ng-message="maxlength">Your password has to be less than 100 characters long.</div>
      <div
        ng-show="confirmNewUserPassword && (confirmNewUserPassword !== adminsAddUserCtrl.newUserPassword)">
        Passwords do not match.
      </div>
    </che-input>
  </div>
  <che-button-primary che-button-title="Create"
                      ng-click="adminsAddUserCtrl.createUser()"
                      che-event-logger="admin/add-user/add"
                      ng-disabled="createUserForm.$invalid || confirmNewUserPassword !== adminsAddUserCtrl.newUserPassword">
  </che-button-primary>
  <che-button-notice che-button-title="Cancel"
                     ng-click="adminsAddUserCtrl.abort()"
                     che-event-logger="admin/add-user/cancel">
  </che-button-notice>
</ng-form>
